<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.example.openaitranslation" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>OpenAITranslationPlugin</name>
    <js-module name="OpenAITranslationPlugin" src="www/openaitranslation.js">
        <clobbers target="OpenAITranslation" />
    </js-module>
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="OpenAITranslationPlugin">
                <param name="android-package" value="com.example.openaitranslation.OpenAITranslationPlugin" />
            </feature>
        </config-file>
        <source-file src="src/android/OpenAITranslationPlugin.java" target-dir="src/com/example/openaitranslation" />
    </platform>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="OpenAITranslationPlugin">
                <param name="ios-package" value="OpenAITranslationPlugin" />
            </feature>
        </config-file>
        <source-file src="src/ios/OpenAITranslationPlugin.m" />
    </platform>
</plugin>
